html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sanse', sans-serif;
    margin: 0;
}

section {
    color: #fff;
    font-size: 1.5em;
    font-weight: 800;
    height: 100vh;
}

#page-1, nav a:nth-of-type(1) {
    background-color: rgb(255, 230, 0);
}

#page-2, nav a:nth-of-type(2) {
    background-color: #8e44ad;
}

#page-3, nav a:nth-of-type(3) {
    background-color: #e74c3c;
}

#page-4, nav a:nth-of-type(4) {
    background-color: #2980b9;
}

nav {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    grid-area: nav;
}

nav a {
    border: 5px solid #fff;
    border-radius: 50%;
    display: block;
    margin: 10px;
    height: 40px;
    width: 40px;
}

.icon-nav {
    text-align: center;
    font-size: 30px;
    padding: 0 0 0 5px;
    margin: 0 20px 0 0;
}

.zoom {
    transition: transform .2s; /* Animation */
}
  
.zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.grid {
    display: grid;
    grid-template-areas: 
    'header header header'
    'main text  nav'
    'footer  footer footer';
    grid-template-columns: 2fr 1fr 0.5fr;
    grid-template-rows: 20% 60% 20%;
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

main {
    grid-area: main;
}

.text {
    grid-area: text;
}

h1 {
    color: #8e44ad;
}

.img-container {
    height: 10%;
    clip-path: circle(20%);
}

#circle{
    background: url("./images/0209.jpg");
    background-repeat: no-repeat;
    background-size: 100% 110%;
    background-position: center;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin: 0 0 0 60%;
}

#logo {
    height: 100px;
    margin: 0 0 50px 0;
}