html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #fff;
    font-weight: 800;
    height: 80%;
    background-color: #8e44ad;
}

nav {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    grid-area: nav;
    margin: 0 2% 0 6%;
}

nav a {
    border: 5px solid #fff;
    border-radius: 50%;
    display: block;
    margin: 10px;
    height: 40px;
    width: 40px;
}

.icon-nav {
    text-align: center;
    font-size: 30px;
    padding: 0 0 0 5px;
    margin: 0 20px 0 0;
}

.zoom {
    transition: transform .2s; /* Animation */
}
  
.zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.grid {
    display: grid;
    grid-template-areas: 
    'header content content'
    'main text  nav'
    'footer  footer footer';
    grid-template-columns: 60% 30% 10%;
    grid-template-rows: 20% 45% 35%;
    gap: 5px;
}

header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    grid-area: footer;
}

main {
    grid-area: main;
    height: 90%;
}

.text {
    grid-area: text;
    background-color: #2980b9;
    border-radius: 8%;
    height: 70%;
    margin-top: 5%;
}

#circle{
    background: url("./images/0209.jpg");
    background-repeat: no-repeat;
    background-size: 100% 110%;
    background-position: center;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: auto;
}

#logo {
    background-color: #2980b9;
    border-radius: 20px;
    padding: 20px;
    height: 55%;
    margin: 0 0 0 5%;
}

.vid-container {
    width: 70%;
    height: 80%;
    margin: 2% auto 0 auto;
}

.p-container {
    padding: 0 4% 0 4%;
    font-size: 1.2em;
    text-align: center;
    margin: 0;
}

iframe {
    width: 100%;
    height: 100%;
}

.titles {
    color: rgb(255, 230, 0);
    font-size: 2em;
    margin-bottom: 0;
    text-align: center;
}

.highlight {
    background-color: #e74c3c;  
}

.titles-projects {
    color: #e74c3c;
}


.phrase-container {
    margin: auto;
    width: 40%;
    font-size: 1.6em;
    font-family: 'Montserrat Alternates', sans-serif;
}

h4 { /*phrase*/
    width: 150%;
    text-align: center;
    margin: auto;
    padding: 20px 0;
    background-color: #2980b9;
    border-radius: 20px;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: rgb(255, 230, 0);
  }

  .footer-title {
    background-color: rgb(255, 230, 0);
    color: #8e44ad;
    font-size: 1.8em;
    width: 600px;
    margin: 0 auto 0 auto;
    text-align: center;    
}

p {
    font-size: 1em;
    margin-top: 2%;
}

.link {
    text-align: center;
    height: auto;
    width: 20%;
    margin: 0 10% 0 10%;
    background-color: #2980b9;
    border-radius: 20px;
    font-size: 1.4em;
    padding: 2px;
}

.footer-content {
    font-size: 1.2em;
    margin: 2% auto 2% auto;
}
